//font
$font-size-base: 1rem; //16px
$font-size-s: $font-size-base * 0.75; //12px
$font-size-sm: $font-size-base * 0.875; //14px
$h1-font-size: $font-size-base * 4; //64px
$h2-font-size: $font-size-base * 3; //48px
$h3-font-size: $font-size-base * 1.75; //28px
$h4-font-size: $font-size-base * 1.5; //24px
$h5-font-size: $font-size-base * 1.25; //20px
$h6-font-size: $font-size-base; //16px
//color
$bg-primary: #EDF4EE;
$bg-secondary: #2A8356;
$text-primary: #121212;
$text-secondary: #0000009A;
$text-success: #2A8356;
$icon-primary: #2A8356;
$icon-secondary: #E3006E;
$border-primary: #CDDDCD;
$border-secondary: #2A8356;