/* http://meyerweb.com/eric/tools/css/reset/ 
v2.0 | 20110126
License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.col-3 {
  background-color: #EDF4EE;
}

.sidebar {
  height: 100%;
  margin-left: 32px;
}

.logo {
  padding-top: 40px;
  padding-bottom: 42px;
}

.logo a {
  display: block;
  background-image: url(https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/085a62fb22df4bf21c605a180648c6c6e35c2b32/week5/logo-ANSWER.svg);
  text-indent: -99999px;
  white-space: nowrap;
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: contain;
  height: 40px;
}

.menu {
  display: block;
}

.menu li {
  font-weight: bold;
  margin-bottom: 29px;
}

.menu li a {
  display: block;
  text-decoration: none;
  color: #121212;
  padding-left: 1rem;
}

.menu li a:hover {
  color: #2A8356;
}

.user img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.user .user-info {
  margin-left: 16px;
}

.user .user-info h2 {
  font-weight: bold;
  line-height: 19px;
}

.user .user-info p {
  font-size: 0.875rem;
  color: #0000009A;
  line-height: 17px;
}

.navbar {
  padding-top: 32px;
  padding-bottom: 44px;
}

.navbar h2 {
  font-size: 1.5rem;
  line-height: 29px;
  font-weight: bold;
  margin-right: 46px;
}

.navbar .form-group {
  margin: 0;
}

.navbar .form-control {
  font-size: 1rem;
  line-height: 24px;
  font-weight: bold;
  border: 0;
  background: transparent;
  color: #121212;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}

.navbar a {
  color: #121212;
}

.navbar a:first-child {
  margin-right: 26px;
}

.angle-down {
  vertical-align: middle;
  color: #2A8356;
}

.directoryBox .form-group {
  margin: 0;
}

.directoryBox .form-control {
  width: 20%;
  font-size: 1rem;
  line-height: 24px;
  font-weight: bold;
  border: 0;
  background: transparent;
  color: #121212;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}

.list-grou li {
  font-size: 0.75rem;
  line-height: 15px;
  cursor: pointer;
}

.list-grou li:first-of-type {
  background-color: #EDF4EE;
}

.list-grou li:hover {
  background-color: #EDF4EE;
}

.list-grou li h3 {
  font-size: 1rem;
  line-height: 19px;
  font-weight: bold;
  margin-top: 4px;
}

.list-grou li h4 {
  color: #0000009A;
  margin-top: 8px;
}

.messageBox {
  margin-top: 13px;
}

.messageBox h2 {
  font-size: 1rem;
  line-height: 19px;
  font-weight: bold;
  margin-bottom: 6px;
  text-align-last: right;
  margin-right: 26px;
}

.messageBox-info {
  border: 1px solid #CDDDCD;
  border-radius: 2px 2px 0px 0px;
  margin-right: 26px;
}

.messageBox-list .messageBox-title {
  padding: 12px 16px;
  background-color: #EDF4EE;
}

.messageBox-list .messageBox-title .title-info p {
  font-size: 0.75rem;
  line-height: 15px;
}

.messageBox-list .messageBox-title .title-info h3 {
  font-size: 1rem;
  line-height: 19px;
  font-weight: bold;
  margin-bottom: 4px;
}

.messageBox-list .messageBox-title .toolbox a {
  color: #121212;
}

.messageBox-list .messageBox-title .toolbox a:hover {
  color: #2A8356;
}

.message-content {
  margin-left: 16px;
}

.message-content .userRow .profileInfo {
  margin-top: 16px;
}

.message-content .userRow .profileInfo img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  image-rendering: -webkit-optimize-contrast;
}

.message-content .userRow .messageInfo {
  width: 80%;
  padding: 16px 0;
  margin-left: 8px;
  border-bottom: 1px solid #CDDDCD;
}

.message-content .userRow .messageInfo .messageInfo-title h3 {
  font-size: 1rem;
  line-height: 19px;
  font-weight: bold;
  margin-top: 4px;
}

.message-content .userRow .messageInfo .messageInfo-title p {
  font-size: 0.75rem;
  line-height: 15px;
  color: #0000009A;
}

.message-content .userRow .messageInfo .messageInfo-title a {
  color: #121212;
}

.message-content .userRow .messageInfo .messageInfo-title a:first-of-type {
  margin-right: 24px;
}

.message-content .userRow .messageInfo .messageInfo-content {
  padding: 16px 0;
}

.message-content .userRow .messageInfo .messageInfo-content p {
  line-height: 21px;
}

.message-content .userRow .messageInfo .messageInfo-content .important {
  background-color: #EDF4EE;
  color: #2A8356;
  padding: 0 4px;
}

.message-content .userRow .messageInfo .annexBox {
  width: 176px;
  border: 1px solid #CDDDCD;
  background-color: #EDF4EE;
  border-radius: 2px;
  padding: 8px 12px;
  font-weight: bold;
}

.message-content .userRow .messageInfo .annexBox i {
  vertical-align: middle;
}

.message-content .userRow .bordernone {
  border: none;
}

.messageTool {
  margin-top: 16px;
  margin-right: 26px;
}

.messageTool a {
  color: #121212;
}

.messageTool a:first-of-type {
  margin-right: 30px;
}

.messageTool .btn:first-of-type {
  margin-right: 30px;
}

.messageTool .btn-success {
  width: 105px;
}

.messageTool .btn-outline-success {
  width: 157px;
}

.navbar .add a {
  text-decoration: none;
  font-size: 1rem;
  line-height: 24px;
  font-weight: bold;
}

.navbar .add a:hover {
  color: #2A8356;
}

.navbar .add .angle-add {
  vertical-align: middle;
  color: #2A8356;
  margin-right: 8px;
}

.table th, .table td {
  vertical-align: middle;
}

.table .text-end {
  text-align: right;
}

.table .text-end a {
  vertical-align: middle;
  color: #121212;
}

.table .text-end a:last-of-type {
  margin-left: 25px;
}

.addModal .modal-header h4 {
  font-size: 1.5rem;
  line-height: 29px;
  font-weight: bold;
}

.addModal .modal-body label {
  font-size: 0.875rem;
  margin-bottom: 4px;
}

.addModal .modal-body h5 {
  font-size: 1.25rem;
  line-height: 24px;
  font-weight: bold;
  margin-bottom: 18px;
}

.addModal .form-group input {
  background-color: #edf4ee;
}

.addModal .verification-deactivate .vd-info {
  padding: 0;
  margin: 0 0 18px 0;
}

.addModal .verification-deactivate .vd-info li {
  list-style: none;
}

.addModal .verification-deactivate .vd-info li .verification-icon {
  color: #2A8356;
  margin-right: 8px;
}

.addModal .verification-deactivate .vd-info li .deactivate-icon {
  color: #E3006E;
  margin-right: 8px;
}

.addModal .verification-deactivate .vd-info li .deactivate-danger {
  color: #E3006E;
}

.addModal .verification-deactivate .btn-outline-success {
  border-color: #CDDDCD;
  color: #CDDDCD;
}

.addModal .modal-select {
  padding: 10px;
}

.addModal .modal-check .form-check {
  margin: 20px 0;
  line-height: 24px;
}

.addModal .modal-check .form-check label {
  font-size: 1rem;
}

.viewModalCenter .modal-body {
  padding: 32px 0;
}

.mainInfo .profileImg {
  width: 140px;
  height: 140px;
}

.mainInfo .profileInfo-list {
  width: 300px;
}

.mainInfo .profileInfo-list .tag, .mainInfo .profileInfo-list .role {
  font-size: 1rem;
  line-height: 19px;
}

.mainInfo .profileInfo-list .tag {
  margin-bottom: 8px;
}

.mainInfo .profileInfo-list .name {
  font-size: 1.5rem;
  line-height: 29px;
  font-weight: bold;
  margin-bottom: 8px;
}

.mainInfo .profileInfo-list .email {
  font-size: 0.875rem;
  line-height: 17px;
  color: #0000009A;
}

.mainInfo .close {
  height: 30px;
}

.mainInfo .profileTool {
  margin-top: 20px;
}

.mainInfo .profileTool .important {
  background-color: #EDF4EE;
  color: #121212;
  padding: 4px 8px;
}
/*# sourceMappingURL=all.css.map */