@mixin size($w,$h) {
    width: $w;
    height: $h;
}

@mixin background-type {
    text-indent: -99999px;
    white-space: nowrap;
    overflow: hidden;
    background-repeat: no-repeat;
}

@mixin pc-pad-h4 {
    font-size: 32px;
    line-height: 45px;
    padding-top: 40px;
    padding-bottom: 32px;
}

@mixin mobile-h4 {
    font-size: 24px;
    line-height: 33px;
    padding-top: 32px;
    padding-bottom: 20px;
}

@mixin pc-pad {
    @media only screen and (max-width: 1110px) {
        @content
    }
}

@mixin mobile {
    @media only screen and (max-width: 767px) {
        @content
    }
}