$text-xs: 14px;
$text-s: 16px;
$text-sm: 20px;
$text-base: 24px;
$text-m: 32px;
$text-lg: 36px;
$text-xl: 48px;
$text-2xl: 64px;
$text-3xl: 72px;
$text-color-primary: #650300;
$text-color-secondary: #fff;
$text-color-Tertiary: #AA0601;
$about-bg-color: #AA06010D;
$contact-bg-color: #AA06010D;
$footer-bg-color: #AA0601;
$btn-color-primary: #AA0601;
$btnhover-color-primary: #580603;
$text-hover-color-primary: #ffeaa7;