// font-siz:14px line-height:21px
.text-xs {
    font-size: $font-size-custom * 0.875;
    line-height: $line-height-custom * 1.3125;
}
// font-siz:16px line-height:24px
.text-base {
    font-size: $font-size-custom;
    line-height: $line-height-custom * 1.5;
}
// font-siz:20px line-height:30px
.text-m {
    font-size: $font-size-custom * 1.25;
    line-height: $font-size-custom * 1.875;
}
// font-siz:24px line-height:36px
.text-lg {
    font-size: $font-size-custom * 1.5;
    line-height: $font-size-custom * 2.25;
}
// font-siz:28px line-height:42px
.text-xl {
    font-size: $font-size-custom * 1.75;
    line-height: $font-size-custom * 2.625;
}
// font-siz:32px line-height:48px
.text-2xl {
    font-size: $font-size-custom * 2;
    line-height: $font-size-custom * 3;
}
// font-siz:40px line-height:60px
.text-3xl {
    font-size: $font-size-custom * 2.5;
    line-height: $font-size-custom * 3.75;
}
// font-siz:48px line-height:72px
.text-4xl {
    font-size: $font-size-custom * 3;
    line-height: $font-size-custom * 4.5;
}