.banner {
    background-image: url(https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/perfume-week6/index1.jpg);
    background-size: cover;
    background-position: center center;
    height: 870px;
    @include pad {
        background-position: 20% 10%;
        height: 480px;
    }
}